img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	

}

.o{
	text-align: center;
	font-size: 30px;
	color: red;
}
p{
	font-size: 25px;
	color: black;
	font-family: arial;
}
body{
	background-image: url(https://images.tcdn.com.br/img/img_prod/620948/papel_de_parede_adesivo_patas_de_cachorro_caes_gatos_pet_animais_ssan_017_1097_1_20200506081632.jpg);
}
.centro{
	text-align: center;
}